# Artificial Neural Network

### Importing the libraries

In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf

In [2]:
tf.__version__

'2.6.0'

## Part 1 - Data Preprocessing

### Importing the dataset

In [3]:
dataset=pd.read_csv(r"C:\Users\Acer\Desktop\Dataset\Churn_Modelling.csv")
X = dataset.iloc[:, 3:-1].values
y = dataset.iloc[:, -1].values

In [4]:
dataset

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [5]:
print(X)

[[619 'France' 'Female' ... 1 1 101348.88]
 [608 'Spain' 'Female' ... 0 1 112542.58]
 [502 'France' 'Female' ... 1 0 113931.57]
 ...
 [709 'France' 'Female' ... 0 1 42085.58]
 [772 'Germany' 'Male' ... 1 0 92888.52]
 [792 'France' 'Female' ... 1 0 38190.78]]

In [6]:
print(y)

[1 0 1 ... 1 1 0]

### Encoding categorical data

Label Encoding the "Gender" column

In [7]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X[:, 2] = le.fit_transform(X[:, 2])

In [8]:
print(X)

[[619 'France' 0 ... 1 1 101348.88]
 [608 'Spain' 0 ... 0 1 112542.58]
 [502 'France' 0 ... 1 0 113931.57]
 ...
 [709 'France' 0 ... 0 1 42085.58]
 [772 'Germany' 1 ... 1 0 92888.52]
 [792 'France' 0 ... 1 0 38190.78]]

One Hot Encoding the "Geography" column

In [9]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [1])], remainder='passthrough')
X = np.array(ct.fit_transform(X))

In [10]:
print(X)
X

[[1.0 0.0 0.0 ... 1 1 101348.88]
 [0.0 0.0 1.0 ... 0 1 112542.58]
 [1.0 0.0 0.0 ... 1 0 113931.57]
 ...
 [1.0 0.0 0.0 ... 0 1 42085.58]
 [0.0 1.0 0.0 ... 1 0 92888.52]
 [1.0 0.0 0.0 ... 1 0 38190.78]]

array([[1.0, 0.0, 0.0, ..., 1, 1, 101348.88],
       [0.0, 0.0, 1.0, ..., 0, 1, 112542.58],
       [1.0, 0.0, 0.0, ..., 1, 0, 113931.57],
       ...,
       [1.0, 0.0, 0.0, ..., 0, 1, 42085.58],
       [0.0, 1.0, 0.0, ..., 1, 0, 92888.52],
       [1.0, 0.0, 0.0, ..., 1, 0, 38190.78]], dtype=object)

### Splitting the dataset into the Training set and Test set

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

### Feature Scaling

In [12]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [13]:
print(X_train)

[[-1.01460667 -0.5698444   1.74309049 ...  0.64259497 -1.03227043
   1.10643166]
 [-1.01460667  1.75486502 -0.57369368 ...  0.64259497  0.9687384
  -0.74866447]
 [ 0.98560362 -0.5698444  -0.57369368 ...  0.64259497 -1.03227043
   1.48533467]
 ...
 [ 0.98560362 -0.5698444  -0.57369368 ...  0.64259497 -1.03227043
   1.41231994]
 [-1.01460667 -0.5698444   1.74309049 ...  0.64259497  0.9687384
   0.84432121]
 [-1.01460667  1.75486502 -0.57369368 ...  0.64259497 -1.03227043
   0.32472465]]

## Part 2 - Building the ANN

### Initializing the ANN

In [14]:
ann = tf.keras.models.Sequential()

### Adding the input layer and the first hidden layer

In [15]:
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))

### Adding the second hidden layer

In [16]:
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))

### Adding the output layer

In [17]:
ann.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

## Part 3 - Training the ANN

### Compiling the ANN

In [18]:
ann.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

### Training the ANN on the Training set

In [19]:
ann.fit(X_train, y_train, batch_size = 32, epochs = 100)

Epoch 1/100
250/250 [==============================] - 1s 2ms/step - loss: 0.5612 - accuracy: 0.7654
Epoch 2/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4618 - accuracy: 0.8008
Epoch 3/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4371 - accuracy: 0.8099
Epoch 4/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4287 - accuracy: 0.8135
Epoch 5/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4245 - accuracy: 0.8166
Epoch 6/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4218 - accuracy: 0.8171
Epoch 7/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4198 - accuracy: 0.8171
Epoch 8/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4180 - accuracy: 0.8205
Epoch 9/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4162 - accuracy: 0.8194
Epoch 10/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4147 - accuracy: 0.8190
Epoch 11/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4127 - accuracy: 0.8194
Epoch 12/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4104 - accuracy: 0.8204
Epoch 13/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4075 - accuracy: 0.8211
Epoch 14/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4037 - accuracy: 0.8248
Epoch 15/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3992 - accuracy: 0.8251
Epoch 16/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3950 - accuracy: 0.8254
Epoch 17/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3907 - accuracy: 0.8260
Epoch 18/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3862 - accuracy: 0.8269
Epoch 19/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3817 - accuracy: 0.8269
Epoch 20/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3781 - accuracy: 0.8289
Epoch 21/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3745 - accuracy: 0.8296
Epoch 22/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3715 - accuracy: 0.8324
Epoch 23/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3687 - accuracy: 0.8351
Epoch 24/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3662 - accuracy: 0.8366
Epoch 25/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3641 - accuracy: 0.8390
Epoch 26/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3626 - accuracy: 0.8391
Epoch 27/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3611 - accuracy: 0.8430
Epoch 28/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3595 - accuracy: 0.8439
Epoch 29/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3578 - accuracy: 0.8468
Epoch 30/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3575 - accuracy: 0.8471
Epoch 31/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3562 - accuracy: 0.8490
Epoch 32/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3555 - accuracy: 0.8499
Epoch 33/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3547 - accuracy: 0.8493
Epoch 34/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3536 - accuracy: 0.8524
Epoch 35/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3536 - accuracy: 0.8525
Epoch 36/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3525 - accuracy: 0.8549
Epoch 37/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3521 - accuracy: 0.8546
Epoch 38/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3513 - accuracy: 0.8546
Epoch 39/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3512 - accuracy: 0.8565
Epoch 40/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3504 - accuracy: 0.8564
Epoch 41/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3497 - accuracy: 0.8586
Epoch 42/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3493 - accuracy: 0.8571
Epoch 43/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3486 - accuracy: 0.8576
Epoch 44/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3476 - accuracy: 0.8590
Epoch 45/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3473 - accuracy: 0.8589
Epoch 46/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3472 - accuracy: 0.8584
Epoch 47/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3470 - accuracy: 0.8600
Epoch 48/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3462 - accuracy: 0.8593
Epoch 49/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3456 - accuracy: 0.8595
Epoch 50/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3453 - accuracy: 0.8606
Epoch 51/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3448 - accuracy: 0.8602
Epoch 52/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3442 - accuracy: 0.8609
Epoch 53/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3438 - accuracy: 0.8597
Epoch 54/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3434 - accuracy: 0.8618
Epoch 55/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3430 - accuracy: 0.8614
Epoch 56/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3428 - accuracy: 0.8616
Epoch 57/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3424 - accuracy: 0.8609
Epoch 58/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3417 - accuracy: 0.8622
Epoch 59/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3418 - accuracy: 0.8630
Epoch 60/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3414 - accuracy: 0.8619
Epoch 61/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3410 - accuracy: 0.8615
Epoch 62/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3407 - accuracy: 0.8627
Epoch 63/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3408 - accuracy: 0.8635
Epoch 64/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3403 - accuracy: 0.8633
Epoch 65/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3399 - accuracy: 0.8627
Epoch 66/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3401 - accuracy: 0.8637
Epoch 67/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3394 - accuracy: 0.8627
Epoch 68/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3399 - accuracy: 0.8621
Epoch 69/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3394 - accuracy: 0.8630
Epoch 70/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3390 - accuracy: 0.8635
Epoch 71/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3392 - accuracy: 0.8639
Epoch 72/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3387 - accuracy: 0.8648
Epoch 73/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3390 - accuracy: 0.8626
Epoch 74/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3385 - accuracy: 0.8640
Epoch 75/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3383 - accuracy: 0.8630
Epoch 76/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3384 - accuracy: 0.8644
Epoch 77/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3381 - accuracy: 0.8648
Epoch 78/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3383 - accuracy: 0.8645
Epoch 79/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3376 - accuracy: 0.8644
Epoch 80/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3380 - accuracy: 0.8640
Epoch 81/100

250/250 [==============================] - 0s 1ms/step - loss: 0.3378 - accuracy: 0.8643
Epoch 82/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3376 - accuracy: 0.8646
Epoch 83/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3373 - accuracy: 0.8656
Epoch 84/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3371 - accuracy: 0.8629
Epoch 85/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3376 - accuracy: 0.8634
Epoch 86/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3374 - accuracy: 0.8648
Epoch 87/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3367 - accuracy: 0.8648
Epoch 88/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3369 - accuracy: 0.8650
Epoch 89/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3367 - accuracy: 0.8648
Epoch 90/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3363 - accuracy: 0.8651
Epoch 91/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3364 - accuracy: 0.8659
Epoch 92/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3362 - accuracy: 0.8654
Epoch 93/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3361 - accuracy: 0.8656
Epoch 94/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3358 - accuracy: 0.8649
Epoch 95/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3359 - accuracy: 0.8646
Epoch 96/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3359 - accuracy: 0.8643
Epoch 97/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3356 - accuracy: 0.8654
Epoch 98/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3356 - accuracy: 0.8659
Epoch 99/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3356 - accuracy: 0.8648
Epoch 100/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3356 - accuracy: 0.8660

## Part 4 - Making the predictions and evaluating the model

### Predicting the result of a single observation

**Solution**

In [20]:
print(ann.predict(sc.transform([[1, 0, 0, 600, 1, 40, 3, 60000, 2, 1, 1, 50000]])) > 0.5)

[[False]]

Therefore, our ANN model predicts that this customer stays in the bank!

**Important note 1:** Notice that the values of the features were all input in a double pair of square brackets. That's because the "predict" method always expects a 2D array as the format of its inputs. And putting our values into a double pair of square brackets makes the input exactly a 2D array.

**Important note 2:** Notice also that the "France" country was not input as a string in the last column but as "1, 0, 0" in the first three columns. That's because of course the predict method expects the one-hot-encoded values of the state, and as we see in the first row of the matrix of features X, "France" was encoded as "1, 0, 0". And be careful to include these values in the first three columns, because the dummy variables are always created in the first columns.

### Predicting the Test set results

In [21]:
y_pred = ann.predict(X_test)
y_pred = (y_pred > 0.5)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

[[0 0]
 [0 1]
 [0 0]
 ...
 [0 0]
 [0 0]
 [0 0]]

### Making the Confusion Matrix

In [22]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)

[[1507   88]
 [ 196  209]]

0.858